@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext?.Session;
    var userId = session?.GetString("UserId");
    var username = session?.GetString("Username") ?? "Guest";
}

<ul class="navbar-nav ms-auto">
    @if (!string.IsNullOrEmpty(userId))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="EditProfile">Edit Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
</ul>
